<!DOCTYPE html>
<html>
<head>
  <title>Ruby &amp; Rosé</title>
  <%= favicon_link_tag 'logo.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path %>
<% end %>
<div class="logo">
<%= link_to root_path do %>
  <%= image_tag "logo.png", height: "120" %>
<% end %>
</div>

<%= yield %>

</body>
</html>
